button {
    white-space: nowrap;
    border: none;
    outline: none;
}

a {

    &.btn-round {
        display: inline-flex;
        align-items: center;
    }
}

.btn-round {
    transition: $trans;
    background-color: $orange-main;
    border-radius: $btn-height-pc / 2;
    border-radius: calc(#{$btn-height-pc} / 2);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    // border-top: 2px solid lighten($orange-main, 20%);
    // border-bottom: 2px solid darken($orange-main, 20%);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.4), inset 0 1px 1px lighten($orange-main, 20%);
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: $btn-font-size-pc;
    text-align: center;
    text-decoration: none;
    padding: 0 45px;
    height: $btn-height-pc;

    @include media (w1024) {
        border-radius: $btn-height-tablet / 2;
        border-radius: calc(#{$btn-height-tablet} / 2);
        font-size: $btn-font-size-tablet;
        height: $btn-height-tablet;
    }

    @include media (w768) {
        border-radius: $btn-height-mobile / 2;
        border-radius: calc(#{$btn-height-mobile} / 2);
        font-size: $btn-font-size-mobile;
        padding: 0 20px;
        height: $btn-height-mobile;
    }

    &_transparent {
        background-color: transparent;
        box-shadow: none;
        border: 5px solid white;

        &:hover {
            border-color: lighten($orange-main, 5%);
        }
    }

    &_download {
        position: relative;

        &:after {
            content: "PDF, 20Mb";
            font-family: "PFHandBookPro", Arial, Helvetica, sans-serif;
            font-size: 30px;
            position: absolute;
            left: calc(100% + 20px);
            white-space: nowrap;

            @include media (w1024) {
                font-size: 18px;
            }

            @include media (w768) {
                //content: none;
                transform: translateX(-50%);
                font-size: 18px;
                left: 50%;
                top: calc(100% + 10px);
            }
        }
    }

    &_download-column {
        margin-bottom: 50px;

        &:after {
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: calc(100% + 10px);
        }
    }

    &:hover {
        background-color: lighten($orange-main, 5%);
    }

    &_clear {
        
        &:after {
            content: none;
        }
    }
}

@keyframes btnAnimRed {
    from {
        box-shadow: 0 0 8px 6px $btn-main-bg, 0 0 12px 14px $btn-main-bg;
    }
    to {
        box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 71px rgba(255, 48, 26, 0);
    }
}

@keyframes btnAnimWhite {
    from {
        box-shadow: 0 0 8px 6px white, 0 0 12px 14px white;
    }
    to {
        box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 71px rgba(255, 48, 26, 0);
    }
}