.sec5 {
    // background-image: url("../img/sec5-bg.png");
    // background-position: center top;
    background-color: $gray-main;
    overflow: hidden;
    margin-top: -70px;
    padding: 10vw 0 150px;
    z-index: 1;

    @include media(w1024) {
        padding: 12vw 0 150px;
    }

    @include media(w768) {
        padding: 20vw 0 150px;
    }

    h2 {

        @include media(w768) {
            
            br {
                display: none;
            }
        }
    }

    &__curtain {
        position: absolute;
        height: 100%;
        top: 0;

        &_left {
            left: -10%;

            @include media(w1600) {
                left: -20%;
            }

            @include media(w1024) {
                left: auto;
                right: 80%;
            }
        }

        &_right {
            transform: scaleX(-1);
            right: -10%;

            @include media(w1600) {
                right: -20%;
            }

            @include media(w1024) {
                right: auto;
                left: 80%;
            }
        }
    }

    &__decor-line {
        transform: translate(-50%, 0);
        pointer-events: none;
        position: absolute;
        top: 28vw;
        left: 50%;
        z-index: -1;

        &_top {

            @include media(w1024) {
                max-width: 2000px;
            }

            @include media(w768) {
                top: 18%;
                max-width: 1400px;
            }

            @include media(w500) {
                top: 18%;
            }

            @include media(w400) {
                top: 20%;
            }
        }

        &_bottom {
            transform: translateY(-30%);
            top: 0;
            left: 0;
            z-index: -1;
            min-width: 100%;

            @include media(w1024) {
                transform: translateY(-50%);
            }

            @include media(w768) {
                transform: translateY(-60%);
            }
        }
    }

    &__title {
        margin-bottom: 18vw;

        @include media(w1024) {
            
            br {
                display: none;
            }
        }

        + p {
            margin-bottom: 1em;
        }

        @include media(w768) {
            margin-bottom: 100px;
        }
    }

    &__list-wrap {
        position: relative;
    }

    &__list-line {
        display: none;
        position: absolute;
        top: 0;
        left: 30px;
        height: calc(100% - 30px);
        width: calc(100% - 30px);
        z-index: -1;

        @include media(w768) {
            display: block;
        }
    }

    &__list {
        display: flex;
        flex-flow: wrap;
        text-align: left;
        margin-bottom: 80px;

        @include media(w1024) {
            margin-bottom: 30px;
        }

        @include media(w768) {
            flex-flow: nowrap column;
        }
    }

    &__list-item {
        display: flex;
        align-items: center;
        //margin-bottom: 80px;
        padding: 0 10px 80px 50px;
        flex: 1 0 50%;

        @include media(w1024) {
            padding-bottom: 50px;
        }

        @include media(w768) {
            padding: 0 0 50px 0;
            flex: none;
            //flex-basis: 80px;
            
            &:nth-child(2) {
                order: 4;
                justify-content: flex-end;

                .sec5__list-number-wrap {
                    order: 2;
                }

                .sec5__list-text {
                    text-align: right;
                    padding: 0 25px 0 0;
                }
            }

            &:nth-child(3) {
                order: 2;
                justify-content: flex-end;

                .sec5__list-number-wrap {
                    order: 2;
                }

                .sec5__list-text {
                    text-align: right;
                    padding: 0 25px 0 0;
                }
            }

            &:nth-child(4) {
                order: 5;
            }

            &:nth-child(5) {
                order: 3;
            }

            &:nth-child(6) {
                order: 6;
                justify-content: flex-end;
                margin-bottom: 0;
                padding-bottom: 0;

                .sec5__list-number-wrap {
                    order: 2;
                }

                .sec5__list-text {
                    text-align: right;
                    padding: 0 25px 0 0;
                }
            }
        }

        &:hover {

            .sec5__list-img {
                transform: rotate(360deg);
            }
        }
    }

    &__list-number-wrap {
        flex-shrink: 0;
        color: white;
        position: relative;
    }

    &__list-number {
        transform: translate(-50%,-100%);
        font-size: 90px;
        font-family: "Appetite", Arial, Helvetica, sans-serif;
        line-height: 0.5;
        margin-bottom: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;

        @include media(w1024) {
            font-size: 53px;
        }
    }

    &__list-img {
        transition: 20s ease;
        display: block;

        @include media(w768) {
            width: 80px;
        }
    }

    &__list-text {
        flex-shrink: 1;
        padding-left: 45px;

        @include media(w1024) {
            font-size: 18px;
            padding-left: 25px;
        }
    }

    &__bottom-title {

        @include media(w768) {
            
            br {
                display: none;
            }
        }
    }

    &__btn-wrap {
        position: relative;
    }

    &__btn {

        &:after {
            color: black;
        }
    }

    &__img {
        position: absolute;
        right: 70%;
        bottom: 10%;

        @include media(w1366) {
            right: 80%;
        }

        @include media(w1024) {
            bottom: 8%;
            max-width: 200px;
        }

        @include media(w768) {
            display: none;
        }
    }
}