@font-face {
    font-family: "PFHandBookPro";
    src: url("../fonts/PFHandBookPro/PFHandbookPro-Regular.eot");
    src: url("../fonts/PFHandBookPro/PFHandbookPro-Regular.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PFHandBookPro/PFHandbookPro-Regular.woff2') format('woff2'),
    url("../fonts/PFHandBookPro/PFHandbookPro-Regular.woff") format("woff"),
    url("../fonts/PFHandBookPro/PFHandbookPro-Regular.ttf") format("truetype"),
    url('../fonts/PFHandBookPro/PFHandbookPro-Regular.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PFHandBookPro";
    src: url("../fonts/PFHandBookPro/PFHandbookPro-Medium.eot");
    src: url("../fonts/PFHandBookPro/PFHandbookPro-Medium.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PFHandBookPro/PFHandbookPro-Medium.woff2') format('woff2'),
    url("../fonts/PFHandBookPro/PFHandbookPro-Medium.woff") format("woff"),
    url("../fonts/PFHandBookPro/PFHandbookPro-Medium.ttf") format("truetype"),
    url('../fonts/PFHandBookPro/PFHandbookPro-Medium.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Appetite";
    src: url("../fonts/Appetite/Appetite.eot");
    src: url("../fonts/Appetite/Appetite.eot?#iefix")format("embedded-opentype"),
    url('../fonts/Appetite/Appetite.woff2') format('woff2'),
    url("../fonts/Appetite/Appetite.woff") format("woff"),
    url("../fonts/Appetite/Appetite.ttf") format("truetype"),
    url('../fonts/Appetite/Appetite.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: normal;
}