h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0.5em;
}

.s {
    font-size: 30px;
}

.m {
    font-size: 40px;
}

.l {
    font-size: 45px;
}

h3 {
    font-size: 50px;
}

h2 {
    font-size: 55px;
}

h1 {
    font-size: 80px;
}