$trans: all 0.3s ease;

$content-max-width: 1180px;

$container-side-padding-pc: 30px;
$container-side-padding-tablet: 18px;

$input-font-size-pc: 25px;
$input-font-size-tablet: 20px;
$input-font-size-mobile: 20px;

$btn-height-pc: 94px;
$btn-height-tablet: 64px;
$btn-height-mobile: 50px;

$btn-font-size-pc: $input-font-size-pc;
$btn-font-size-tablet: $input-font-size-tablet;
$btn-font-size-mobile: $input-font-size-mobile;

$btn-main-bg: #ff2727;
$footer-bg: #2b2a28;
$footer-text: #8e8e8e;

$color-main--lightest: #CBF3BF;
$color-main--lighten:  #ACEF97;
$color-main--light:    #74EA4F;
$color-main:           #3FD411;
$color-main--dark:     #39BA11;
$color-main--darken:   #329F11;
$color-main--darkest:  #184B09;