$trans: all 0.3s ease;

$content-max-width: 1200px;

$container-side-padding-pc: 30px;
$container-side-padding-tablet: 18px;

$input-font-size-pc: 30px;
$input-font-size-tablet: 18px;
$input-font-size-mobile: 22px;

$btn-height-pc: 98px;
$btn-height-tablet: 78px;
$btn-height-mobile: 78px;

$btn-font-size-pc: 32px;
$btn-font-size-tablet: 25px;
$btn-font-size-mobile: 22px;


$orange-main: #cb5906;
$yellow-main: #fce21a;
$blue-main: #4f7cbd;
$gray-main: #f9f9f8;

$btn-main-bg: #ff2727;
$footer-bg: $blue-main;
$footer-text: white;