section.sec.sec1
    include header
    img(src="img/sec1-curtain.png", alt="").sec1__curtain.sec1__curtain_left
    img(src="img/sec1-curtain.png", alt="").sec1__curtain.sec1__curtain_right
    img(src="img/sec1-cloud1.png", alt="").sec1__clouds.sec1__clouds_1
    img(src="img/sec1-cloud2.png", alt="").sec1__clouds.sec1__clouds_2
    img(src="img/sec1-cloud3.png", alt="").sec1__clouds.sec1__clouds_3
    img(src="img/sec1-women.png", alt="").sec1__women
    div.container.ta-center
        p.m.
            Ставьте сказочные детские спектакли<br> и проводите интерактивные творческие занятия
        h1.ff-appetite.sec1__heading.
            с чистым доходом<br> 235 000 рублей в месяц
        button.btn-round.btn-round_download.js-small-btn.
            Скачать презентацию