section.sec.sec1
    include header
    img(src="img/sec1-curtain-top.png", alt="").sec1__curtain-top.sec1__curtain-top_left.sec1__curtain-top_before-ready
    img(src="img/sec1-curtain-top.png", alt="").sec1__curtain-top.sec1__curtain-top_right.sec1__curtain-top_before-ready
    img(src="img/sec1-curtain-right.png", alt="").sec1__curtain-side.sec1__curtain-side_left.sec1__curtain-side_before-ready
    img(src="img/sec1-curtain-right.png", alt="").sec1__curtain-side.sec1__curtain-side_right.sec1__curtain-side_before-ready
    img(src="img/sec1-cloud1.png", alt="").sec1__clouds.sec1__clouds_1.sec1__clouds_before-ready
    img(src="img/sec1-cloud2.png", alt="").sec1__clouds.sec1__clouds_2.sec1__clouds_before-ready
    img(src="img/sec1-cloud3.png", alt="").sec1__clouds.sec1__clouds_3.sec1__clouds_before-ready
    img(src="img/sec7-cloud1.png", alt="").sec1__clouds.sec1__clouds_3-mobile
    img(src="img/sec1-women.png", alt="").sec1__women
    div.container.ta-center.sec1__container
        p.m.
            Ставьте сказочные детские спектакли<br> и проводите интерактивные творческие занятия
        h1.ff-appetite.sec1__heading.
            с чистым доходом<br> 235 000 рублей в месяц
        button.btn-round.btn-round_download.js-small-btn.
            Скачать презентацию