section.sec.sec2
    img(src="img/sec2-bg-head.png", alt="").sec2__content-bg-head
    div.sec2__content
        div.container
            div.sec2__white-block
                h3.ff-appetite.color-orange.
                    Родителям важно, чтобы<br> их дети всесторонне<br> развивались и при этом<br> с радостью посещали занятия
                p.l.
                    Именно поэтому растет спрос на детские<br> развлекательные центры с нестандартными<br> программами
                p.s.
                    Однажды мы подумали: «А что, если совместить<br> театр и развивающие детские игры? Развлечение<br> с познанием мира и самого себя?»
                img(src="img/sec2-girl.png", alt="").sec2__white-block-girl
            div.ta-center
                p.l.medium.
                    В результате три года назад<br> мы открыли интерактивный театр для детей<br> «Небылица»

            //img(src="img/sec2-white-block.png", alt="").sec2__white-block