section.sec.sec3
    img(src="img/decor-line3.png", alt="").sec3__decor-line.sec3__decor-line_top
    img(src="img/decor-line3-bottom.png", alt="").sec3__decor-line.sec3__decor-line_bottom
    div.container
        div.sec3__row.sec3__row_top
            div.sec3__col.sec3__col_text
                h2.color-orange.ff-appetite.sec3__heading.
                    В нашем театре 
                p.l.medium.
                    каждый зритель – полноправный<br> участник сказки
                p.sec3__subtitle.
                    Детям можно и нужно резвиться,<br> вживаться в роли, играть с реквизитом<br> и экспериментировать с костюмами!
            div.sec3__col.sec3__col_gallery
                div.sec3__gallery-wrap
                    div.sec3__gallery-arrow
                        img(src="img/sec3-gallery-arrow.png", alt="").sec3__gallery-arrow-img.sec3__gallery-arrow-img_left.js-sec3-gallery-arrow-left
                    div.sec3__gallery-arrow
                        img(src="img/sec3-gallery-arrow.png", alt="").sec3__gallery-arrow-img.sec3__gallery-arrow-img_right.js-sec3-gallery-arrow-right
                    div.sec3__gallery.js-sec3-gallery
                        div.sec3__gallery-item
                            div.sec3__gallery-img
                        div.sec3__gallery-item
                            div.sec3__gallery-img
                                //img(src="img/sec3-img1.jpg", alt="")
        div.sec3__row
            div.sec3__col
            div.sec3__col.sec3__col_bottom-text
                p.l.medium.
                    Наш театр сразу пришёлся по душе и детям и их родителям
                p.sec3__subtitle.
                    Восемь из десяти семей становятся нашими постоянными посетителями, и большинство из них проводят дни рождения и выпускные именно у нас
                p.color-orange.sec3__subtitle.
                    Все сценарии, реквизит, костюмы мы разрабатываем и адаптируем сами под каждую постановку
    img(src="img/sec3-man.png", alt="").sec3__img