section.sec.sec4
    img(src="img/decor-line4.png", alt="").sec4__decor-line
    div.container.color-white.ta-center
        p.l.medium.
            В 2017 году мы вышли на стабильную<br> месячную выручку 400 000 рублей
        p.mb2.
            и подготовили бизнес-модель<br> к масштабированию в других городах
        button.btn-round.btn-round_download.js-small-btn.
            Скачать презентацию