section.sec.sec6
    img(src="img/sec6-head-bg.png", alt="").sec6__top-bg
    div.sec6__content
        div.container
            div.sec6__note
                img(src="img/sec6-white-block.png", alt="").sec6__note-bg
                div.sec6__note-text
                    h3.color-orange.ff-appetite.sec6__note-title.
                        Размер нужных инвестиций –
                    p.medium.l.
                        от 290 тыс. рублей на покупку<br> франшизы и от 1,7 млн рублей<br> в помещение, реквизит и декорации
                img(src="img/sec6-note.png", alt="").sec6__note-wallet
            p.color-white.sec6__undertitle.
                Мы окупили вложения в наш театр уже в первый год работы. При должном использовании нашего опыта, вы выйдете на чистую прибыль 200 тыс.рублей в месяц уже на второй год работы!
        div.ta-center.sec6__btn-wrap
            div.container
                button.btn-round.btn-round_download.js-small-btn.sec6__btn.
                    Скачать презентацию
            img(src="img/decor-line6.png", alt="").sec6__decor-line