section.sec.sec7
    img(src="img/sec7-castle-left.png", alt="").sec7__castle.sec7__castle_left
    div.sec7__content
        img(src="img/sec7-castle-right.png", alt="").sec7__castle.sec7__castle_right
        img(src="img/sec7-cloud1.png", alt="").sec7__cloud.sec7__cloud_1.sec7__cloud_before-ready
        img(src="img/sec7-cloud2.png", alt="").sec7__cloud.sec7__cloud_2.sec7__cloud_before-ready
        div.container
            include bottom-form